* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $body-default-color;
  font-family: $body-default-font-family;
  font-size: $base-font-size;
  background-color: $body-bg-color;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
  margin-top: 0;
}

p {
  margin-bottom: $space;
}

a {
  color: $body-default-color;
}

[type=text],
[type=email],
[type=password],
textarea {
  border: 1px solid $input-border;
  color: $body-default-color;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
  font-family: $body-default-font-family;
}
